In [1]:
# connect to the PostgreSQL instance
import psycopg2 as pg

# custom python library created to store the db configuation details
from config import config

# load the object with the default database parameters required
params = config()

# connect to the PostgreSQL server
conn = pg.connect(**params)

curs = conn.cursor()

# execute SQL queries to the tables within the database
curs.execute('select * from dtml_featr_num;')

# query_op = curs.fetchone() # fetches only one record
query_op = curs.fetchall()

In [2]:
print(query_op)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [3]:
import pandas as pd
df = pd.DataFrame(query_op)

In [4]:
print(df)

          0     1   2   3    4   5   6   7   8   9    ...    33     34  35  \
0       1344  2018   4  18  108  16  16   2   2   2   ...     2  0.000   0
1       1345  2017   5  24  144  21  21   2   2   2   ...     3  0.000   0
2       1346  2017   7  25  206  30  30   1   1   3   ...     6  0.000   1
3       1347  2018   5   8  128  19  19   1   1   2   ...     2  0.000   0
4       1348  2018   1  30   30   5   5   1   1   1   ...     7  0.000   1
5       1349  2018   3  12   71  11  11   0   0   1   ...     2  0.000   0
6       1350  2017  11   7  311  45  45   1   1   4   ...     1  1.000   0
7       1351  2017   8  25  237  34  34   4   4   3   ...     1  0.500   0
8       1352  2017   8  14  226  33  33   0   0   3   ...    14  0.166   1
9       1353  2017   6  27  178  26  26   1   1   2   ...     5  0.000   0
10      1354  2017   7  18  199  29  29   1   1   3   ...    10  0.000   0
11      1355  2017   7  27  208  30  30   3   3   3   ...     6  0.000   0
12      1356  2018   5  21  141  21  21   0   0   2   ...     1  0.000   0
13      1357  2018   3  26   85  13  13   0   0   1   ...     0  0.000   0
14      1358  2017   8  18  230  33  33   4   4   3   ...     0  1.000   0
15      1359  2018   2  15   46   7   7   3   3   1   ...     2  0.500   0
16      1360  2018   1  30   30   5   5   1   1   1   ...     2  0.500   0
17      1361  2017   7  11  192  28  28   1   1   3   ...    15  0.000   0
18      1362  2018   5  23  143  21  21   2   2   2   ...     4  0.000   0
19      1363  2018   3  23   82  12  12   4   4   1   ...     2  0.500   0
20      1364  2017  10  30  303  44  44   0   0   4   ...     3  0.000   0
21      1365  2018   3  27   86  13  13   1   1   1   ...    15  0.000   1
22      1366  2017   8   2  214  31  31   2   2   3   ...     2  0.000   0
23      1367  2017   9  22  265  38  38   4   4   3   ...     2  0.000   0
24      1368  2018   3  15   74  11  11   3   3   1   ...     5  0.200   1
25      1369  2017  11  13  317  46  46   0   0   4   ...     1  0.500   0
26      1370  2017   8  10  222  32  32   3   3   3   ...     7  0.000   1
27      1371  2017   8  25  237  34  34   4   4   3   ...    29  0.000   0
28      1372  2018   5  23  143  21  21   2   2   2   ...    13  0.142   0
29      1373  2018   5  14  134  20  20   0   0   2   ...     1  0.333   0
...      ...   ...  ..  ..  ...  ..  ..  ..  ..  ..   ...    ..    ...  ..
999970  1314  2017   8  23  235  34  34   2   2   3   ...    30  0.000   0
999971  1315  2017   8  15  227  33  33   1   1   3   ...     0  0.000   1
999972  1316  2018   4  30  120  18  18   0   0   2   ...    10  0.100   1
999973  1317  2017   8   1  213  31  31   1   1   3   ...     1  0.000   0
999974  1318  2018   3  21   80  12  12   2   2   1   ...     2  0.000   0
999975  1319  2018   4  26  116  17  17   3   3   2   ...     5  0.000   0
999976  1320  2018   4  18  108  16  16   2   2   2   ...    25  0.000   1
999977  1321  2018   1  22   22   4   4   0   0   1   ...     0  0.000   0
999978  1322  2017  10  13  286  41  41   4   4   4   ...     1  0.166   0
999979  1323  2017   7  31  212  31  31   0   0   3   ...     5  0.000   0
999980  1324  2017   8  30  242  35  35   2   2   3   ...     3  0.000   0
999981  1325  2017   8  21  233  34  34   0   0   3   ...     4  0.000   1
999982  1326  2017  11   6  310  45  45   0   0   4   ...     1  0.000   0
999983  1327  2018   4  12  102  15  15   3   3   2   ...    46  0.000   1
999984  1328  2017   9  29  272  39  39   4   4   3   ...     3  0.000   0
999985  1329  2018   6   1  152  22  22   4   4   2   ...     4  0.000   0
999986  1330  2017  10  23  296  43  43   0   0   4   ...     1  0.000   0
999987  1331  2017  10   5  278  40  40   3   3   4   ...     5  0.000   0
999988  1332  2018   2   1   32   5   5   3   3   1   ...     3  0.000   0
999989  1333  2017  10  25  298  43  43   2   2   4   ...     4  0.000   0
999990  1334  2018   2  27   58   9   9   1   1   1   ...     5  0.000   0
999991  1335  2018   3   8   67  10  10   3   3   1   ...    22  0.000   0
999992  1336  2017   6   6  157  23  23   1   1   2   ...     4  0.000   0
999993  1337  2017  12  29  363  52  52   4   4   4   ...     7  0.000   0
999994  1338  2017   9  12  255  37  37   1   1   3   ...     3  0.500   0
999995  1339  2018   1  17   17   3   3   2   2   1   ...     3  0.000   0
999996  1340  2017  11   7  311  45  45   1   1   4   ...     8  0.333   1
999997  1341  2018   5  30  150  22  22   2   2   2   ...     8  0.000   1
999998  1342  2017   6  28  179  26  26   2   2   2   ...    10  0.000   1
999999  1343  2017   6   8  159  23  23   3   3   2   ...     5  0.000   0

        36   37   38       39        40     41      42
0        7   27   17    21.42    9.0000  83565   50139
1        1  200   41  1266.66   10.3333     63       0
2        4    1    4    33.33    2.8333     30       0
3        7    1    2   100.00    6.0000   4518       0
4        1  216  670    25.23  631.8333    593     100
5       12   26    3    50.00    3.5000  18421   47368
6       13   23   12   -29.41   14.3333      0       0
7        5   87   29    38.09   18.0000  18433       0
8        1  214  560    52.58  361.6666    191     173
9        3   87   14     0.00   14.5000    552       0
10      15  149   33   175.00   13.3333      0       0
11       2  114    2   -50.00    3.6666    184       0
12       8  210    1   -75.00   16.0000     92       0
13       5  167  200   146.91  179.0000    297     158
14      11  171    0     0.00    0.0000      0       0
15       8  216   17    30.76    8.5000      0    1020
16       4  161   31   -29.54   56.1666    768     154
17      14  160   40   700.00   22.3333      0     224
18       1  120   19    18.75   21.3333  11173       0
19       4  120   52   126.08   44.5000   4882     226
20      10   85   26   136.36   14.6666      0     658
21      14  167    1     0.00    1.6666      0       0
22       2  214    1   -83.33    4.8333    109       0
23      15  126    1     0.00    2.0000      0       0
24       9   81    4     0.00    0.8333   5882       0
25       8   78   42   100.00   30.1666      0       0
26       1    1   55    71.87   26.1666  17872       0
27       0  202   12   -14.28   13.5000    257       0
28       8    1    0     0.00    0.0000      0       0
29       3  105    5    25.00    3.8333   1488       0
...     ..  ...  ...      ...       ...    ...     ...
999970   8  214    2   -50.00    3.5000      0      67
999971   0  214    5    66.66    2.8333   1651     330
999972   2  107   15   -58.33   15.5000      0     168
999973   0  160    0     0.00    0.0000      0       0
999974  15   26   27   145.45   17.1666   7363       0
999975   4  120    5   -61.53   10.1666      0       0
999976   8  210    1     0.00    0.6666    211       0
999977   5  161  114   -53.46  233.0000    427     352
999978   8  171   43    -6.52   32.6666      0       0
999979   9   81   25   -35.89   23.5000    582       0
999980   1  167   52   -31.57   89.5000    898     951
999981   7  167    1   -66.66    1.8333      0       0
999982  15   23    3    50.00    3.6666      0       0
999983   1  210   71   -20.22   68.5000    622       0
999984   1   57   30    -9.09   29.3333   2931     340
999985   1   31  137    37.00  105.8333     86     272
999986   1  167   74    39.62   49.1666    145       0
999987   7   81    8   -20.00    6.1666      0       0
999988   6  105   16   -50.00   33.1666   3101   32699
999989   5   81    4   -33.33    5.5000   1721       0
999990   7   81   15   -42.30   50.6666    122     122
999991   1  216  335   -21.72  521.1666   1563     154
999992   0    1    0     0.00    0.0000      0       0
999993   6    0    0     0.00    0.0000      0       0
999994  12  125    2   -81.81    6.0000    843       0
999995   8   81    7   -12.50    8.6666   1850  133673
999996   5  154  286   -28.32  276.1666   2177     845
999997  10   30   42   -44.00   47.5000   4592   38398
999998   5  160  112    57.74  115.6666   2422      84
999999   6  110   20    42.85   23.6666   5223     454

[1000000 rows x 43 columns]

In [5]:
# adding the correct column names to the dataset
curs.execute("SELECT column_name FROM information_schema.columns WHERE table_name like 'dtml_featr_num';")

query_op = curs.fetchall()

df_header = list()
for i in range(len(query_op)):
    df_header.append(query_op[i][0])
    
# replace the indexes of the dataframe with the correct header columns by renaming them
for i in range(len(df.columns)):
    df.rename(columns={i:df_header[i]}, inplace=True)

In [6]:
del query_op

In [7]:
df.head()

,index,year,month,day,day_of_year,week,week_of_year,day_of_week,weekday,quarter,...,spec_cng_unknwn,dropin,past_dues,cur_intrn_days,mdl_bld_rate,prev_mnth_record_count,prev_mnth_percent,avg_six_mnth_cnt,shrt_ppm,qa_ppm
0,1344,2018,4,18,108,16,16,2,2,2,...,2,0.0,0,7,27,17,21.42,9.0000,83565,50139
1,1345,2017,5,24,144,21,21,2,2,2,...,3,0.0,0,1,200,41,1266.66,10.3333,63,0
2,1346,2017,7,25,206,30,30,1,1,3,...,6,0.0,1,4,1,4,33.33,2.8333,30,0
3,1347,2018,5,8,128,19,19,1,1,2,...,2,0.0,0,7,1,2,100.00,6.0000,4518,0
4,1348,2018,1,30,30,5,5,1,1,1,...,7,0.0,1,1,216,670,25.23,631.8333,593,100

In [8]:
df['index'].describe()

count    1000000.000000
mean      499999.500000
std       288675.278933
min            0.000000
25%       249999.750000
50%       499999.500000
75%       749999.250000
max       999999.000000
Name: index, dtype: float64

In [9]:
# execute SQL queries to the tables within the database
curs.execute('select * from dtml_resp_scld;')

# query_op = curs.fetchone() # fetches only one record
query_op = curs.fetchall()

In [10]:
df_y = pd.DataFrame(query_op)

In [11]:
df_y.head()

   0  1
0  0  N
1  1  N
2  2  N
3  3  N
4  4  Y

In [13]:
# adding the correct column names to the dataset
curs.execute("SELECT column_name FROM information_schema.columns WHERE table_name like 'dtml_resp_scld';")

query_op = curs.fetchall()

df_header = list()
for i in range(len(query_op)):
    df_header.append(query_op[i][0])
    
# replace the indexes of the dataframe with the correct header columns by renaming them
for i in range(len(df_y.columns)):
    df_y.rename(columns={i:df_header[i]}, inplace=True)

In [17]:
df_y.head()

   index  sr_flag
0      0        0
1      1        0
2      2        0
3      3        0
4      4        1

In [16]:
import numpy as np

df_y['sr_flag'] = df_y['sr_flag'].apply(lambda x: np.where(x=='N',0,1))

In [18]:
list(df)

['index',
 'year',
 'month',
 'day',
 'day_of_year',
 'week',
 'week_of_year',
 'day_of_week',
 'weekday',
 'quarter',
 'id',
 'vndr_id',
 'item_no',
 'loc',
 'crfa_c',
 'crfa_r',
 'crfa_f',
 'crfa_a',
 'eoq',
 'pkg_qty',
 'outproc_flag',
 'score_edi_instability_avg',
 'order_edi_instability_positive_only_avg',
 'fulfillment_rate_2wkavg',
 'spec_cng_elem',
 'spec_cng_fpe',
 'spec_cng_mrp',
 'spec_cng_oh_adj',
 'spec_cng_pcts',
 'spec_cng_peg',
 'spec_cng_por_asn',
 'spec_cng_potr',
 'spec_cng_sched',
 'spec_cng_unknwn',
 'dropin',
 'past_dues',
 'cur_intrn_days',
 'mdl_bld_rate',
 'prev_mnth_record_count',
 'prev_mnth_percent',
 'avg_six_mnth_cnt',
 'shrt_ppm',
 'qa_ppm']

In [19]:
df = df.drop('id', axis='columns')

In [20]:
list(df)

['index',
 'year',
 'month',
 'day',
 'day_of_year',
 'week',
 'week_of_year',
 'day_of_week',
 'weekday',
 'quarter',
 'vndr_id',
 'item_no',
 'loc',
 'crfa_c',
 'crfa_r',
 'crfa_f',
 'crfa_a',
 'eoq',
 'pkg_qty',
 'outproc_flag',
 'score_edi_instability_avg',
 'order_edi_instability_positive_only_avg',
 'fulfillment_rate_2wkavg',
 'spec_cng_elem',
 'spec_cng_fpe',
 'spec_cng_mrp',
 'spec_cng_oh_adj',
 'spec_cng_pcts',
 'spec_cng_peg',
 'spec_cng_por_asn',
 'spec_cng_potr',
 'spec_cng_sched',
 'spec_cng_unknwn',
 'dropin',
 'past_dues',
 'cur_intrn_days',
 'mdl_bld_rate',
 'prev_mnth_record_count',
 'prev_mnth_percent',
 'avg_six_mnth_cnt',
 'shrt_ppm',
 'qa_ppm']

In [21]:
print(df.shape)
print(df_y.shape)

(1000000, 42)
(1000000, 2)

In [23]:
df = df.drop('index', axis='columns')
df_y = df_y.drop('index', axis='columns')

KeyError: "labels ['index'] not contained in axis"

In [27]:
print(list(df))
print(list(df_y))

['year', 'month', 'day', 'day_of_year', 'week', 'week_of_year', 'day_of_week', 'weekday', 'quarter', 'vndr_id', 'item_no', 'loc', 'crfa_c', 'crfa_r', 'crfa_f', 'crfa_a', 'eoq', 'pkg_qty', 'outproc_flag', 'score_edi_instability_avg', 'order_edi_instability_positive_only_avg', 'fulfillment_rate_2wkavg', 'spec_cng_elem', 'spec_cng_fpe', 'spec_cng_mrp', 'spec_cng_oh_adj', 'spec_cng_pcts', 'spec_cng_peg', 'spec_cng_por_asn', 'spec_cng_potr', 'spec_cng_sched', 'spec_cng_unknwn', 'dropin', 'past_dues', 'cur_intrn_days', 'mdl_bld_rate', 'prev_mnth_record_count', 'prev_mnth_percent', 'avg_six_mnth_cnt', 'shrt_ppm', 'qa_ppm']
['sr_flag']

In [26]:
df_y = df_y.drop('index', axis='columns')

In [28]:
print(df.shape)
print(df_y.shape)

(1000000, 41)
(1000000, 1)

In [33]:
# getting to the feature matrix and response variable y
X = pd.DataFrame(df.copy())
y = df_y.T.squeeze()

In [34]:
print(type(X))
print(type(y))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [35]:
print(df.shape)
print(df_y.shape)

(1000000, 41)
(1000000, 1)

In [36]:
print(df_y.head())

   sr_flag
0        0
1        0
2        0
3        0
4        1

In [38]:
# feature selection
# univariate feature selection
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X_selected = SelectKBest(chi2, k=41).fit_transform(X, y)

ValueError: Input X must be non-negative.