In [1]:
# August 23 2018: Another fresh attempt on model training

# connect to the PostgreSQL instance
import psycopg2 as pg

# custom python library created to store the db configuation details
from config import config

# load the object with the default database parameters required
params = config()

# connect to the PostgreSQL server
conn = pg.connect(**params)

curs = conn.cursor()

# manually update the iteration count
iCnt = 0 # 0,1

# threshold
thrhld = 1000000

# execute SQL queries to the tables within the database
curs.execute('select * from DTML_MSTR_RAW where id between {0} and {1};'.format((iCnt*thrhld + 1), (iCnt*thrhld + thrhld)))

# query_op = curs.fetchone() # fetches only one record
query_op = curs.fetchall()

In [2]:
# print top 10 rows
for i in range(10):
    print(query_op[i])

(1, datetime.date(2017, 11, 6), 'AD98', 'A22-72740-000', '013', 'N', 'S', '009', '1', '2', 1, 44, 'N', Decimal('-0.99955476'), Decimal('0.99599287'), '(null)', 5, 0, 0, 0, 0, 0, 0, 0, 0, 4, Decimal('0.3330'), 0, 2, 196, 1, Decimal('-75.0000'), Decimal('10.8333'), 0, 0)
(2, datetime.date(2018, 4, 24), 'AD98', 'A22-69882-000', '034', 'N', 'S', '009', '1', '2', 0, 48, 'N', Decimal('-0.04341051'), Decimal('0.91495993'), '(null)', 0, 0, 0, 0, 3, 218, 0, 0, 798, 5, Decimal('0.0000'), 0, 7, 107, 9, Decimal('800.0000'), Decimal('4.3333'), 0, 0)
(3, datetime.date(2018, 5, 7), 'DN 4', 'DN EPG150230', '065', 'N', 'S', '009', '1', '2', 1, 12, 'N', Decimal('0.95547640'), Decimal('0.95547640'), '1', 0, 0, 0, 0, 0, 0, 0, 0, 19, 2, Decimal('0.0000'), 0, 13, 178, 3, Decimal('50.0000'), Decimal('2.0000'), 0, 0)
(4, datetime.date(2017, 10, 18), 'Z582', '04-31885-200', '065', 'N', 'S', '009', '1', '2', 1, 20, 'N', Decimal('-0.93455031'), Decimal('1.00000000'), '(null)', 0, 0, 0, 0, 0, 0, 0, 0, 20, 2, Decimal('0.0000'), 0, 12, 166, 5, Decimal('0.0000'), Decimal('2.5000'), 0, 0)
(5, datetime.date(2017, 12, 6), 'T606', '12-20828-000', '034', 'Y', 'S', '009', '1', '2', 5, 50, 'N', Decimal('-0.98441674'), Decimal('1.00000000'), '0.666', 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, Decimal('0.0000'), 0, 2, 108, 77, Decimal('6.9400'), Decimal('73.0000'), 15996, 118)
(6, datetime.date(2018, 2, 19), 'JK65', 'A05-19332-000', '065', 'N', 'S', '009', '1', '2', 1, 10, 'N', Decimal('-0.89047195'), Decimal('1.00000000'), '1', 2, 0, 0, 0, 0, 0, 0, 0, 12, 2, Decimal('0.0000'), 0, 12, 160, 17, Decimal('-58.5300'), Decimal('47.8333'), 0, 261)
(7, datetime.date(2018, 4, 16), 'ASC3', 'A18-64616-318', '001', 'N', 'S', '009', '1', '2', 1, 8, 'N', Decimal('0.00578807'), Decimal('0.97217275'), '(null)', 0, 0, 0, 0, 0, 0, 0, 0, 39, 10, Decimal('0.0000'), 1, 11, 27, 56, Decimal('-27.2700'), Decimal('58.1666'), 2919, 547)
(8, datetime.date(2017, 6, 21), 'ASC3', 'A18-69613-203', '001', 'N', 'S', '009', '1', '2', 1, 2, 'N', Decimal('-0.01024043'), Decimal('0.88668744'), '(null)', 0, 0, 0, 0, 0, 0, 0, 0, 8, 11, Decimal('0.2500'), 1, 11, 1, 45, Decimal('36.3600'), Decimal('54.6666'), 7481, 274)
(9, datetime.date(2017, 11, 13), 'B682', 'A12-28714-000', '034', 'N', 'S', '009', '1', '2', 1, 32, 'N', Decimal('-0.00512021'), Decimal('0.97128228'), '0.5', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Decimal('0.0000'), 0, 7, 110, 4, Decimal('100.0000'), Decimal('3.3333'), 335, 0)
(10, datetime.date(2017, 5, 24), 'PYI', 'A22-69379-002', '001', 'N', 'S', '009', '4', '2', 1, 0, 'N', Decimal('0.95547640'), Decimal('0.95547640'), '(null)', 0, 0, 0, 0, 0, 0, 0, 0, 6, 1, Decimal('0.0000'), 0, 15, 24, 0, Decimal('0.0000'), Decimal('0.0000'), 0, 0)

In [3]:
import pandas as pd

df = pd.DataFrame(query_op)

# print(type(df))
# print(df.shape)
# print(df.head())

<class 'pandas.core.frame.DataFrame'>
(1000000, 35)
   0           1     2              3    4  5  6    7  8  9  ...   25      26  \
0   1  2017-11-06  AD98  A22-72740-000  013  N  S  009  1  2 ...    4  0.3330
1   2  2018-04-24  AD98  A22-69882-000  034  N  S  009  1  2 ...    5  0.0000
2   3  2018-05-07  DN 4   DN EPG150230  065  N  S  009  1  2 ...    2  0.0000
3   4  2017-10-18  Z582   04-31885-200  065  N  S  009  1  2 ...    2  0.0000
4   5  2017-12-06  T606   12-20828-000  034  Y  S  009  1  2 ...    3  0.0000

  27  28   29  30        31       32     33   34
0  0   2  196   1  -75.0000  10.8333      0    0
1  0   7  107   9  800.0000   4.3333      0    0
2  0  13  178   3   50.0000   2.0000      0    0
3  0  12  166   5    0.0000   2.5000      0    0
4  0   2  108  77    6.9400  73.0000  15996  118

[5 rows x 35 columns]

In [4]:
# creating an explicit/distinct copy of the features
X_lowVar = df.copy()

In [5]:
# feature transformation

from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=(0.8 * (1 - 0.8)))

In [6]:
print(sel)

VarianceThreshold(threshold=0.15999999999999998)

In [8]:
# unless all the features are numercic, none of the scaling would work

In [9]:
# converting the features to numeric columns, one at a time

In [11]:
# adding the correct column names to the dataset
curs.execute("SELECT column_name FROM information_schema.columns WHERE table_name like 'dtml_mstr_raw';")

query_op = curs.fetchall()

df_header = list()
for i in range(len(query_op)):
    df_header.append(query_op[i][0])

In [13]:
print(df_header)

['id', 'cal_date', 'vndr_id', 'item_no', 'loc', 'sr_flag', 'crfa_c', 'crfa_r', 'crfa_f', 'crfa_a', 'eoq', 'pkg_qty', 'outproc_flag', 'score_edi_instability_avg', 'order_edi_instability_positive_only_avg', 'fulfillment_rate_2wkavg', 'spec_cng_elem', 'spec_cng_fpe', 'spec_cng_mrp', 'spec_cng_oh_adj', 'spec_cng_pcts', 'spec_cng_peg', 'spec_cng_por_asn', 'spec_cng_potr', 'spec_cng_sched', 'spec_cng_unknwn', 'dropin', 'past_dues', 'cur_intrn_days', 'mdl_bld_rate', 'prev_mnth_record_count', 'prev_mnth_percent', 'avg_six_mnth_cnt', 'shrt_ppm', 'qa_ppm']

In [14]:
# replace the indexes of the dataframe with the correct header columns by renaming them
for i in range(len(df.columns)):
    df.rename(columns={i:df_header[i]}, inplace=True)

In [15]:
## ------------------ ##
# cal_date
## ------------------ ##

# create a copy of the original feature dataset (df)
X_copy = df.copy()

# split the cal_date to multiple numeric columns

# convert the datatype to date first
X_copy['cal_date'] = pd.to_datetime(X_copy['cal_date'])

In [17]:
# split the data column into individual numeric info columns and append it back

X_split = pd.DataFrame({
    'year': X_copy['cal_date'].dt.year,
    'month': X_copy['cal_date'].dt.month,
    'day': X_copy['cal_date'].dt.day,
    'day_of_year': X_copy['cal_date'].dt.dayofyear,
    'week': X_copy['cal_date'].dt.week,
    'week_of_year': X_copy['cal_date'].dt.weekofyear,
    'day_of_week': X_copy['cal_date'].dt.dayofweek,
    'weekday': X_copy['cal_date'].dt.weekday,
    'quarter': X_copy['cal_date'].dt.quarter
}).join(X_copy)

In [21]:
X_split.head()

,year,month,day,day_of_year,week,week_of_year,day_of_week,weekday,quarter,id,...,spec_cng_unknwn,dropin,past_dues,cur_intrn_days,mdl_bld_rate,prev_mnth_record_count,prev_mnth_percent,avg_six_mnth_cnt,shrt_ppm,qa_ppm
0,2017,11,6,310,45,45,0,0,4,1,...,4,0.3330,0,2,196,1,-75.0000,10.8333,0,0
1,2018,4,24,114,17,17,1,1,2,2,...,5,0.0000,0,7,107,9,800.0000,4.3333,0,0
2,2018,5,7,127,19,19,0,0,2,3,...,2,0.0000,0,13,178,3,50.0000,2.0000,0,0
3,2017,10,18,291,42,42,2,2,4,4,...,2,0.0000,0,12,166,5,0.0000,2.5000,0,0
4,2017,12,6,340,49,49,2,2,4,5,...,3,0.0000,0,2,108,77,6.9400,73.0000,15996,118

In [22]:
# drop the original cal_date column from the X_split df
# X_split.drop('cal_date', axis='columns')

,year,month,day,day_of_year,week,week_of_year,day_of_week,weekday,quarter,id,...,spec_cng_unknwn,dropin,past_dues,cur_intrn_days,mdl_bld_rate,prev_mnth_record_count,prev_mnth_percent,avg_six_mnth_cnt,shrt_ppm,qa_ppm
0,2017,11,6,310,45,45,0,0,4,1,...,4,0.3330,0,2,196,1,-75.0000,10.8333,0,0
1,2018,4,24,114,17,17,1,1,2,2,...,5,0.0000,0,7,107,9,800.0000,4.3333,0,0
2,2018,5,7,127,19,19,0,0,2,3,...,2,0.0000,0,13,178,3,50.0000,2.0000,0,0
3,2017,10,18,291,42,42,2,2,4,4,...,2,0.0000,0,12,166,5,0.0000,2.5000,0,0
4,2017,12,6,340,49,49,2,2,4,5,...,3,0.0000,0,2,108,77,6.9400,73.0000,15996,118
5,2018,2,19,50,8,8,0,0,1,6,...,2,0.0000,0,12,160,17,-58.5300,47.8333,0,261
6,2018,4,16,106,16,16,0,0,2,7,...,10,0.0000,1,11,27,56,-27.2700,58.1666,2919,547
7,2017,6,21,172,25,25,2,2,2,8,...,11,0.2500,1,11,1,45,36.3600,54.6666,7481,274
8,2017,11,13,317,46,46,0,0,4,9,...,0,0.0000,0,7,110,4,100.0000,3.3333,335,0
9,2017,5,24,144,21,21,2,2,2,10,...,1,0.0000,0,15,24,0,0.0000,0.0000,0,0
10,2017,10,17,290,42,42,1,1,4,11,...,18,0.0000,0,6,81,53,82.7500,47.5000,1408,654
11,2018,3,23,82,12,12,4,4,1,12,...,3,0.3330,0,5,81,27,0.0000,30.8333,17404,4109
12,2018,5,2,122,18,18,2,2,2,13,...,5,0.0000,0,11,30,20,81.8100,13.3333,371,124
13,2017,7,25,206,30,30,1,1,3,14,...,0,0.0000,0,6,209,9,-78.0400,13.5000,983,0
14,2018,3,22,81,12,12,3,3,1,15,...,5,0.0000,0,7,81,31,-54.4100,41.6666,0,0
15,2017,12,1,335,48,48,4,4,4,16,...,34,0.5000,0,1,114,19,90.0000,15.6666,510,0
16,2017,8,2,214,31,31,2,2,3,17,...,3,0.0000,0,2,114,11,-31.2500,11.5000,678,0
17,2018,1,19,19,3,3,4,4,1,18,...,0,0.0000,0,6,114,7,-30.0000,10.1666,0,0
18,2018,5,7,127,19,19,0,0,2,19,...,6,0.0000,1,0,178,9,350.0000,3.6666,0,85
19,2018,1,11,11,2,2,3,3,1,20,...,0,0.0000,0,8,105,9,-40.0000,21.6666,106,0
20,2017,11,6,310,45,45,0,0,4,21,...,20,0.0000,0,7,196,1,-50.0000,0.8333,0,0
21,2017,10,17,290,42,42,1,1,4,22,...,22,0.2850,0,5,1,8,100.0000,3.1666,308,0
22,2017,8,31,243,35,35,3,3,3,23,...,16,0.0000,0,12,4,3,-25.0000,1.5000,0,0
23,2017,8,4,216,31,31,4,4,3,24,...,10,0.0000,0,14,101,7,-12.5000,5.5000,0,0
24,2018,2,22,53,8,8,3,3,1,25,...,1,0.0000,0,2,114,30,7.1400,21.3333,7591,0
25,2017,11,9,313,45,45,3,3,4,26,...,0,0.0000,0,1,154,9,125.0000,4.3333,0,145
26,2017,8,1,213,31,31,1,1,3,27,...,2,0.0000,0,7,214,74,-27.4500,58.1666,61,0
27,2017,6,9,160,23,23,4,4,2,28,...,4,0.0000,1,5,185,1,-83.3300,4.8333,0,0
28,2017,12,12,346,50,50,1,1,4,29,...,9,0.0000,0,7,78,16,-48.3800,18.1666,564,564
29,2017,11,16,320,46,46,3,3,4,30,...,2,0.0000,0,10,167,6,20.0000,9.8333,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,2017,12,13,347,50,50,2,2,4,999971,...,4,0.0000,0,4,78,12,-53.8400,29.8333,0,354
999971,2018,3,2,61,9,9,4,4,1,999972,...,2,0.1660,0,1,114,109,-14.1700,144.3333,4076,68
999972,2017,7,30,211,30,30,6,6,3,999973,...,33,0.0000,0,1,0,3,0.0000,2.0000,2577,3866
999973,2017,12,5,339,49,49,1,1,4,999974,...,3,0.0000,0,1,167,4,100.0000,2.3333,0,0
999974,2017,5,13,133,19,19,5,5,2,999975,...,15,0.0000,0,1,0,76,4.1000,74.6666,3511,195
999975,2017,8,5,217,31,31,5,5,3,999976,...,10,0.1420,0,8,101,54,-43.7500,63.5000,5186,1114
999976,2017,10,18,291,42,42,2,2,4,999977,...,4,0.0000,0,1,114,37,23.3300,29.8333,847,624
999977,2017,8,5,217,31,31,5,5,3,999978,...,19,0.0000,0,8,0,0,0.0000,0.0000,0,2764
999978,2017,10,31,304,44,44,1,1,4,999979,...,4,0.3750,0,4,114,32,28.0000,35.6666,1579,1612
999979,2017,7,31,212,31,31,0,0,3,999980,...,1,0.0000,0,1,114,20,300.0000,6.6666,0,0
999980,2018,1,29,29,5,5,0,0,1,999981,...,0,0.0000,0,7,114,16,23.0700,16.3333,0,0
999981,2018,1,10,10,2,2,2,2,1,999982,...,2,0.0000,0,10,25,20,-39.3900,48.3333,18314,95
999982,2018,2,1,32,5,5,3,3,1,999983,...,10,0.0000,0,9,1,3,-40.0000,5.5000,988,0
999983,2017,5,26,146,21,21,4,4,2,999984,...,10,0.1420,0,8,24,24,-4.0000,21.5000,986,0
999984,2018,5,20,140,20,20,6,6,2,999985,...,1,0.0000,0,12,0,249,329.3100,95.8333,15580,1343
999985,2017,5,24,144,21,21,2,2,2,999986,...,6,0.0000,0,8,200,0,0.0000,0.0000,0,0
999986,2017,6,18,169,24,24,6,6,2,999987,...,18,0.0000,0,2,0,5,-50.0000,7.8333,0,2519
999987,2018,3,11,70,10,10,6,6,1,999988,...,12,0.0000,0,9,0,2,0.0000,1.0000,0,0
999988,2017,12,29,363,52,52,4,4,4,999989,...,7,0.0000,0,8,0,12,300.0000,5.3333,4619,0
999989,2018,2,14,45,7,7,2,2,1,999990,...,3,0.0000,0,15,160,11,-35.2900,19.0000,0,0
999990,2018,2,10,41,6,6,5,5,1,999991,...,1,0.0000,0,6,1,1,0.0000,2.5000,0,0
999991,2017,11,20,324,47,47,0,0,4,999992,...,0,0.0000,0,6,114,122,12.9600,76.1666,7551,444
999992,2018,5,5,125,18,18,5,5,2,999993,...,3,0.0000,0,4,126,47,291.6600,27.3333,0,21
999993,2017,5,17,137,20,20,2,2,2,999994,...,0,0.0000,0,7,4,3,50.0000,2.0000,0,0
999994,2018,1,8,8,2,2,0,0,1,999995,...,3,0.0000,0,7,161,31,-24.3900,40.0000,0,0
999995,2017,11,22,326,47,47,2,2,4,999996,...,2,0.0000,0,7,108,10,-9.0900,11.8333,267,0
999996,2017,11,7,311,45,45,1,1,4,999997,...,8,0.3330,0,9,208,9,-66.6600,32.8333,286,0
999997,2018,4,3,93,14,14,1,1,2,999998,...,1,0.0000,0,5,210,4,300.0000,5.1666,0,11
999998,2018,2,28,59,9,9,2,2,1,999999,...,3,0.0000,0,6,211,51,-89.6700,155.8333,230,0
999999,2017,12,25,359,52,52,0,0,4,1000000,...,15,1.0000,0,5,0,1,-75.0000,3.1666,0,0

In [23]:
# reassign X_split to X_copy
X_copy = X_split

In [24]:
X_copy.head()

,year,month,day,day_of_year,week,week_of_year,day_of_week,weekday,quarter,id,...,spec_cng_unknwn,dropin,past_dues,cur_intrn_days,mdl_bld_rate,prev_mnth_record_count,prev_mnth_percent,avg_six_mnth_cnt,shrt_ppm,qa_ppm
0,2017,11,6,310,45,45,0,0,4,1,...,4,0.3330,0,2,196,1,-75.0000,10.8333,0,0
1,2018,4,24,114,17,17,1,1,2,2,...,5,0.0000,0,7,107,9,800.0000,4.3333,0,0
2,2018,5,7,127,19,19,0,0,2,3,...,2,0.0000,0,13,178,3,50.0000,2.0000,0,0
3,2017,10,18,291,42,42,2,2,4,4,...,2,0.0000,0,12,166,5,0.0000,2.5000,0,0
4,2017,12,6,340,49,49,2,2,4,5,...,3,0.0000,0,2,108,77,6.9400,73.0000,15996,118

In [25]:
X_copy.drop('cal_date', axis='columns')

,year,month,day,day_of_year,week,week_of_year,day_of_week,weekday,quarter,id,...,spec_cng_unknwn,dropin,past_dues,cur_intrn_days,mdl_bld_rate,prev_mnth_record_count,prev_mnth_percent,avg_six_mnth_cnt,shrt_ppm,qa_ppm
0,2017,11,6,310,45,45,0,0,4,1,...,4,0.3330,0,2,196,1,-75.0000,10.8333,0,0
1,2018,4,24,114,17,17,1,1,2,2,...,5,0.0000,0,7,107,9,800.0000,4.3333,0,0
2,2018,5,7,127,19,19,0,0,2,3,...,2,0.0000,0,13,178,3,50.0000,2.0000,0,0
3,2017,10,18,291,42,42,2,2,4,4,...,2,0.0000,0,12,166,5,0.0000,2.5000,0,0
4,2017,12,6,340,49,49,2,2,4,5,...,3,0.0000,0,2,108,77,6.9400,73.0000,15996,118
5,2018,2,19,50,8,8,0,0,1,6,...,2,0.0000,0,12,160,17,-58.5300,47.8333,0,261
6,2018,4,16,106,16,16,0,0,2,7,...,10,0.0000,1,11,27,56,-27.2700,58.1666,2919,547
7,2017,6,21,172,25,25,2,2,2,8,...,11,0.2500,1,11,1,45,36.3600,54.6666,7481,274
8,2017,11,13,317,46,46,0,0,4,9,...,0,0.0000,0,7,110,4,100.0000,3.3333,335,0
9,2017,5,24,144,21,21,2,2,2,10,...,1,0.0000,0,15,24,0,0.0000,0.0000,0,0
10,2017,10,17,290,42,42,1,1,4,11,...,18,0.0000,0,6,81,53,82.7500,47.5000,1408,654
11,2018,3,23,82,12,12,4,4,1,12,...,3,0.3330,0,5,81,27,0.0000,30.8333,17404,4109
12,2018,5,2,122,18,18,2,2,2,13,...,5,0.0000,0,11,30,20,81.8100,13.3333,371,124
13,2017,7,25,206,30,30,1,1,3,14,...,0,0.0000,0,6,209,9,-78.0400,13.5000,983,0
14,2018,3,22,81,12,12,3,3,1,15,...,5,0.0000,0,7,81,31,-54.4100,41.6666,0,0
15,2017,12,1,335,48,48,4,4,4,16,...,34,0.5000,0,1,114,19,90.0000,15.6666,510,0
16,2017,8,2,214,31,31,2,2,3,17,...,3,0.0000,0,2,114,11,-31.2500,11.5000,678,0
17,2018,1,19,19,3,3,4,4,1,18,...,0,0.0000,0,6,114,7,-30.0000,10.1666,0,0
18,2018,5,7,127,19,19,0,0,2,19,...,6,0.0000,1,0,178,9,350.0000,3.6666,0,85
19,2018,1,11,11,2,2,3,3,1,20,...,0,0.0000,0,8,105,9,-40.0000,21.6666,106,0
20,2017,11,6,310,45,45,0,0,4,21,...,20,0.0000,0,7,196,1,-50.0000,0.8333,0,0
21,2017,10,17,290,42,42,1,1,4,22,...,22,0.2850,0,5,1,8,100.0000,3.1666,308,0
22,2017,8,31,243,35,35,3,3,3,23,...,16,0.0000,0,12,4,3,-25.0000,1.5000,0,0
23,2017,8,4,216,31,31,4,4,3,24,...,10,0.0000,0,14,101,7,-12.5000,5.5000,0,0
24,2018,2,22,53,8,8,3,3,1,25,...,1,0.0000,0,2,114,30,7.1400,21.3333,7591,0
25,2017,11,9,313,45,45,3,3,4,26,...,0,0.0000,0,1,154,9,125.0000,4.3333,0,145
26,2017,8,1,213,31,31,1,1,3,27,...,2,0.0000,0,7,214,74,-27.4500,58.1666,61,0
27,2017,6,9,160,23,23,4,4,2,28,...,4,0.0000,1,5,185,1,-83.3300,4.8333,0,0
28,2017,12,12,346,50,50,1,1,4,29,...,9,0.0000,0,7,78,16,-48.3800,18.1666,564,564
29,2017,11,16,320,46,46,3,3,4,30,...,2,0.0000,0,10,167,6,20.0000,9.8333,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,2017,12,13,347,50,50,2,2,4,999971,...,4,0.0000,0,4,78,12,-53.8400,29.8333,0,354
999971,2018,3,2,61,9,9,4,4,1,999972,...,2,0.1660,0,1,114,109,-14.1700,144.3333,4076,68
999972,2017,7,30,211,30,30,6,6,3,999973,...,33,0.0000,0,1,0,3,0.0000,2.0000,2577,3866
999973,2017,12,5,339,49,49,1,1,4,999974,...,3,0.0000,0,1,167,4,100.0000,2.3333,0,0
999974,2017,5,13,133,19,19,5,5,2,999975,...,15,0.0000,0,1,0,76,4.1000,74.6666,3511,195
999975,2017,8,5,217,31,31,5,5,3,999976,...,10,0.1420,0,8,101,54,-43.7500,63.5000,5186,1114
999976,2017,10,18,291,42,42,2,2,4,999977,...,4,0.0000,0,1,114,37,23.3300,29.8333,847,624
999977,2017,8,5,217,31,31,5,5,3,999978,...,19,0.0000,0,8,0,0,0.0000,0.0000,0,2764
999978,2017,10,31,304,44,44,1,1,4,999979,...,4,0.3750,0,4,114,32,28.0000,35.6666,1579,1612
999979,2017,7,31,212,31,31,0,0,3,999980,...,1,0.0000,0,1,114,20,300.0000,6.6666,0,0
999980,2018,1,29,29,5,5,0,0,1,999981,...,0,0.0000,0,7,114,16,23.0700,16.3333,0,0
999981,2018,1,10,10,2,2,2,2,1,999982,...,2,0.0000,0,10,25,20,-39.3900,48.3333,18314,95
999982,2018,2,1,32,5,5,3,3,1,999983,...,10,0.0000,0,9,1,3,-40.0000,5.5000,988,0
999983,2017,5,26,146,21,21,4,4,2,999984,...,10,0.1420,0,8,24,24,-4.0000,21.5000,986,0
999984,2018,5,20,140,20,20,6,6,2,999985,...,1,0.0000,0,12,0,249,329.3100,95.8333,15580,1343
999985,2017,5,24,144,21,21,2,2,2,999986,...,6,0.0000,0,8,200,0,0.0000,0.0000,0,0
999986,2017,6,18,169,24,24,6,6,2,999987,...,18,0.0000,0,2,0,5,-50.0000,7.8333,0,2519
999987,2018,3,11,70,10,10,6,6,1,999988,...,12,0.0000,0,9,0,2,0.0000,1.0000,0,0
999988,2017,12,29,363,52,52,4,4,4,999989,...,7,0.0000,0,8,0,12,300.0000,5.3333,4619,0
999989,2018,2,14,45,7,7,2,2,1,999990,...,3,0.0000,0,15,160,11,-35.2900,19.0000,0,0
999990,2018,2,10,41,6,6,5,5,1,999991,...,1,0.0000,0,6,1,1,0.0000,2.5000,0,0
999991,2017,11,20,324,47,47,0,0,4,999992,...,0,0.0000,0,6,114,122,12.9600,76.1666,7551,444
999992,2018,5,5,125,18,18,5,5,2,999993,...,3,0.0000,0,4,126,47,291.6600,27.3333,0,21
999993,2017,5,17,137,20,20,2,2,2,999994,...,0,0.0000,0,7,4,3,50.0000,2.0000,0,0
999994,2018,1,8,8,2,2,0,0,1,999995,...,3,0.0000,0,7,161,31,-24.3900,40.0000,0,0
999995,2017,11,22,326,47,47,2,2,4,999996,...,2,0.0000,0,7,108,10,-9.0900,11.8333,267,0
999996,2017,11,7,311,45,45,1,1,4,999997,...,8,0.3330,0,9,208,9,-66.6600,32.8333,286,0
999997,2018,4,3,93,14,14,1,1,2,999998,...,1,0.0000,0,5,210,4,300.0000,5.1666,0,11
999998,2018,2,28,59,9,9,2,2,1,999999,...,3,0.0000,0,6,211,51,-89.6700,155.8333,230,0
999999,2017,12,25,359,52,52,0,0,4,1000000,...,15,1.0000,0,5,0,1,-75.0000,3.1666,0,0

In [29]:
## ------------------ ##
# vndr_id
## ------------------ ##

# convert vendor id to numeric using one hot encoding
# from sklearn.feature_extraction import DictVectorizer

# oneHotEnc = DictVectorizer()

# X_vndr_id = pd.DataFrame(oneHotEnc.fit_transform(X_copy['vndr_id']).toarray())

# print(oneHotEnc.fit_transform(X_copy['vndr_id']).toarray())


### ---------------------- ###
## One-hot only applies if all the features in consideration are numeric already
### ---------------------- ###

In [30]:
X_copy.describe()

,year,month,day,day_of_year,week,week_of_year,day_of_week,weekday,quarter,id,...,spec_cng_por_asn,spec_cng_potr,spec_cng_sched,spec_cng_unknwn,past_dues,cur_intrn_days,mdl_bld_rate,prev_mnth_record_count,shrt_ppm,qa_ppm
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,...,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1.000000e+06,1.000000e+06
mean,2017.389531,6.393566,15.896653,179.082463,25.925571,25.925571,2.992997,2.992997,2.472760,500000.500000,...,0.001279,0.002211,44.249312,5.463271,0.038408,6.142448,74.136705,46.660694,6.644991e+03,3.034872e+03
std,0.487644,3.274227,8.688711,99.731766,14.190318,14.190318,2.001125,2.001125,1.066389,288675.278933,...,0.039666,0.047813,126.914353,8.114178,0.192179,4.237454,73.243683,128.479089,2.944308e+05,1.013511e+05
min,2017.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,2017.000000,4.000000,9.000000,101.000000,15.000000,15.000000,1.000000,1.000000,2.000000,250000.750000,...,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000,3.000000,0.000000e+00,0.000000e+00
50%,2017.000000,6.000000,16.000000,173.000000,25.000000,25.000000,3.000000,3.000000,2.000000,500000.500000,...,0.000000,0.000000,5.000000,3.000000,0.000000,6.000000,78.000000,14.000000,8.200000e+01,0.000000e+00
75%,2018.000000,9.000000,23.000000,262.000000,38.000000,38.000000,5.000000,5.000000,3.000000,750000.250000,...,0.000000,0.000000,32.000000,7.000000,0.000000,9.000000,120.000000,45.000000,1.127000e+03,2.700000e+02
max,2018.000000,12.000000,31.000000,365.000000,52.000000,52.000000,6.000000,6.000000,4.000000,1000000.000000,...,3.000000,2.000000,4550.000000,179.000000,1.000000,63.000000,221.000000,6830.000000,2.558824e+07,8.529412e+06

In [31]:
# selecting just the vendor id column
df_vndr_id = pd.DataFrame(X_copy['vndr_id'])

In [32]:
df_vndr_id.head()

  vndr_id
0    AD98
1    AD98
2    DN 4
3    Z582
4    T606

In [33]:
df_vndr_id.describe()

        vndr_id
count   1000000
unique      782
top        Z984
freq      31875

In [46]:
dict_vndr_id = df_vndr_id.to_dict('split')

In [48]:
dict_vndr_id['data']

[['AD98'],
 ['AD98'],
 ['DN 4'],
 ['Z582'],
 ['T606'],
 ['JK65'],
 ['ASC3'],
 ['ASC3'],
 ['B682'],
 ['PYI'],
 ['BW 6'],
 ['Z975'],
 ['AYG'],
 ['KBV2'],
 ['PFE'],
 ['CX83'],
 ['HDR1'],
 ['A587'],
 ['CJ25'],
 ['BW 6'],
 ['LA67'],
 ['LF53'],
 ['AW76'],
 ['DL37'],
 ['RGT1'],
 ['KD74'],
 ['JX64'],
 ['DO80'],
 ['NEM'],
 ['FK17'],
 ['CX83'],
 ['KF53'],
 ['DDE1'],
 ['KD02'],
 ['CA16'],
 ['Z975'],
 ['FI95'],
 ['A587'],
 ['KC86'],
 ['ET44'],
 ['I536'],
 ['Z984'],
 ['SCP'],
 ['LE75'],
 ['PH M'],
 ['G984'],
 ['CBT'],
 ['CM 6'],
 ['DO80'],
 ['KA75'],
 ['LF31'],
 ['KT34'],
 ['FS17'],
 ['HUN'],
 ['CHS'],
 ['DDE1'],
 ['ALUA'],
 ['CX83'],
 ['CM 6'],
 ['CM 6'],
 ['KB21'],
 ['ESC'],
 ['CM 2'],
 ['BW 6'],
 ['ETN9'],
 ['KU19'],
 ['HX26'],
 ['IMQ4'],
 ['LF53'],
 ['CC37'],
 ['KB21'],
 ['CM 6'],
 ['I075'],
 ['ESC'],
 ['SCP'],
 ['JW10'],
 ['PFE'],
 ['T852'],
 ['LF53'],
 ['KF28'],
 ['RGT1'],
 ['RGT'],
 ['CBT'],
 ['PPU1'],
 ['P664'],
 ['KD02'],
 ['BW 6'],
 ['KF28'],
 ['KU17'],
 ['ET44'],
 ['CM 6'],
 ['FP10'],
 ['AKR'],
 ['AYG'],
 ['BW 6'],
 ['FC35'],
 ['AL53'],
 ['KU19'],
 ['LB05'],
 ['CJ06'],
 ['BW 1'],
 ['AO02'],
 ['AE55'],
 ['T785'],
 ['KC86'],
 ['Z984'],
 ['DN23'],
 ['TM'],
 ['KJ92'],
 ['Z984'],
 ['KD02'],
 ['KF53'],
 ['AYG'],
 ['CJ49'],
 ['JER'],
 ['DN23'],
 ['KF79'],
 ['T155'],
 ['KZ42'],
 ['KD74'],
 ['CBT'],
 ['PPU1'],
 ['BW 7'],
 ['X333'],
 ['KD74'],
 ['JW87'],
 ['RGT'],
 ['KG12'],
 ['FWJ'],
 ['LJ52'],
 ['RGT1'],
 ['KD74'],
 ['ET44'],
 ['AA02'],
 ['KB00'],
 ['Z807'],
 ['KJ92'],
 ['GRK'],
 ['FC35'],
 ['GRK'],
 ['CON'],
 ['PMY'],
 ['HF89'],
 ['JER'],
 ['DDE5'],
 ['Z157'],
 ['DDE5'],
 ['NEM'],
 ['IM46'],
 ['KB36'],
 ['KC86'],
 ['AL53'],
 ['GT G'],
 ['FS22'],
 ['ER53'],
 ['DVO'],
 ['AYG'],
 ['AL53'],
 ['ER53'],
 ['TBS'],
 ['Z975'],
 ['T155'],
 ['JW06'],
 ['GRK'],
 ['JK65'],
 ['PFE'],
 ['KQ71'],
 ['BF20'],
 ['KYS4'],
 ['CM 6'],
 ['R609'],
 ['Z984'],
 ['TL 1'],
 ['KB42'],
 ['KF53'],
 ['A587'],
 ['EQ24'],
 ['AKR1'],
 ['PH M'],
 ['CM 5'],
 ['GRK'],
 ['CM 5'],
 ['KD84'],
 ['KR38'],
 ['FLP1'],
 ['Z975'],
 ['CM 5'],
 ['PMY'],
 ['CDB'],
 ['CUM4'],
 ['A867'],
 ['HUN'],
 ['AB57'],
 ['JK42'],
 ['BW 1'],
 ['Z984'],
 ['PH M'],
 ['BW 6'],
 ['GT G'],
 ['RWY'],
 ['Z984'],
 ['KD84'],
 ['BW 6'],
 ['PFE'],
 ['JS56'],
 ['KC86'],
 ['DAN2'],
 ['KU19'],
 ['CM 5'],
 ['CM 6'],
 ['LA89'],
 ['H884'],
 ['HF89'],
 ['CM 5'],
 ['RGT1'],
 ['CM 5'],
 ['A587'],
 ['RGT'],
 ['EU99'],
 ['FS22'],
 ['CM 4'],
 ['DDE5'],
 ['JK42'],
 ['EM32'],
 ['KU17'],
 ['BW 6'],
 ['BW 6'],
 ['KF28'],
 ['Z984'],
 ['AYG'],
 ['LB26'],
 ['EK79'],
 ['CM 6'],
 ['FK17'],
 ['TL 2'],
 ['BW 6'],
 ['BW 6'],
 ['SPD'],
 ['AB57'],
 ['IM46'],
 ['AL53'],
 ['EU99'],
 ['JK65'],
 ['Z582'],
 ['DDE5'],
 ['JE68'],
 ['RWY'],
 ['KT06'],
 ['EU99'],
 ['GT G'],
 ['KF28'],
 ['CX83'],
 ['PFE'],
 ['CDB'],
 ['FC35'],
 ['CDB'],
 ['KB21'],
 ['HF60'],
 ['ASC3'],
 ['LE23'],
 ['ET44'],
 ['CX83'],
 ['FI95'],
 ['TM'],
 ['L657'],
 ['SIC'],
 ['BW 6'],
 ['BW 1'],
 ['BW 6'],
 ['DN23'],
 ['CM 6'],
 ['RGT1'],
 ['KD84'],
 ['PTH'],
 ['HF89'],
 ['AKR'],
 ['W656'],
 ['CX83'],
 ['TL 2'],
 ['ALUA'],
 ['KA75'],
 ['PPU1'],
 ['PH K'],
 ['CM 6'],
 ['MZT1'],
 ['KA49'],
 ['KK24'],
 ['ET44'],
 ['AL53'],
 ['Z984'],
 ['SCP'],
 ['CM 5'],
 ['S2I'],
 ['H884'],
 ['DDE1'],
 ['CM 6'],
 ['CM 2'],
 ['HF89'],
 ['CBT'],
 ['Z157'],
 ['GZ95'],
 ['BY83'],
 ['MUN'],
 ['BW 6'],
 ['KF79'],
 ['JER'],
 ['JER'],
 ['KF28'],
 ['KB21'],
 ['CX83'],
 ['PFE'],
 ['KH53'],
 ['T481'],
 ['ASC3'],
 ['AYG'],
 ['DO80'],
 ['CBT'],
 ['Q672'],
 ['NEM'],
 ['KO51'],
 ['GZM'],
 ['CM 2'],
 ['HDR1'],
 ['CM 5'],
 ['GX31'],
 ['Z975'],
 ['Z975'],
 ['KZ42'],
 ['CM 6'],
 ['T852'],
 ['DG65'],
 ['CM 2'],
 ['TL 2'],
 ['AL53'],
 ['AL53'],
 ['R609'],
 ['SCP'],
 ['EK41'],
 ['HDR1'],
 ['Z984'],
 ['HDR1'],
 ['AL53'],
 ['RGT'],
 ['JS78'],
 ['PFE'],
 ['EM32'],
 ['GRK'],
 ['CM 5'],
 ['GT G'],
 ['Z984'],
 ['KD02'],
 ['PMY'],
 ['FK17'],
 ['KT06'],
 ['E929'],
 ['CX83'],
 ['PFE'],
 ['ET44'],
 ['AL53'],
 ['JR93'],
 ['CM 5'],
 ['ET44'],
 ['KF28'],
 ['HOR1'],
 ['CM 5'],
 ['LB07'],
 ['CM 6'],
 ['CBT'],
 ['ER53'],
 ['JT10'],
 ['LA93'],
 ['LE23'],
 ['KB21'],
 ['AKR1'],
 ['JA50'],
 ['BW 6'],
 ['HDR1'],
 ['HDR'],
 ['KD74'],
 ['BW 6'],
 ['KT34'],
 ['KF28'],
 ['KT06'],
 ['KP72'],
 ['C291'],
 ['Z984'],
 ['KU17'],
 ['KB21'],
 ['ASC3'],
 ['Z975'],
 ['RGT'],
 ['DDE5'],
 ['HF89'],
 ['BY83'],
 ['KY80'],
 ['SMU'],
 ['ER53'],
 ['PYI'],
 ['PMY'],
 ['PH M'],
 ['AY06'],
 ['CM 2'],
 ['NEM'],
 ['AL53'],
 ['ESC'],
 ['KC86'],
 ['TL 2'],
 ['BF64'],
 ['EK79'],
 ['AY06'],
 ['CJ06'],
 ['SCP'],
 ['CM 2'],
 ['ESC'],
 ['KD84'],
 ['PHM'],
 ['CM 6'],
 ['BW 6'],
 ['CO92'],
 ['KD74'],
 ['KC86'],
 ['FI95'],
 ['BW 6'],
 ['RGT'],
 ['T481'],
 ['KQ21'],
 ['AKR1'],
 ['INS'],
 ['KT06'],
 ['KZ42'],
 ['CM 5'],
 ['BW 6'],
 ['TBS'],
 ['RWY'],
 ['KD74'],
 ['CX98'],
 ['GR88'],
 ['JR97'],
 ['FC35'],
 ['KN40'],
 ['CM 5'],
 ['RGT1'],
 ['AKR'],
 ['AL53'],
 ['CM 5'],
 ['BW 6'],
 ['BT27'],
 ['Z984'],
 ['DN23'],
 ['HF89'],
 ['KA75'],
 ['LF53'],
 ['ET44'],
 ['A587'],
 ['ASC3'],
 ['EU99'],
 ['PH M'],
 ['PXU'],
 ['AB57'],
 ['BW 7'],
 ['CJ44'],
 ['JT27'],
 ['H491'],
 ['KT34'],
 ['CON'],
 ['LF53'],
 ['Z984'],
 ['FAR4'],
 ['HA63'],
 ['BO39'],
 ['KU98'],
 ['CM 5'],
 ['CM 5'],
 ['HDR1'],
 ['WHT'],
 ['IMM'],
 ['LF53'],
 ['AL53'],
 ['JR94'],
 ['JW06'],
 ['KF28'],
 ['PH M'],
 ['JR93'],
 ['EP45'],
 ['ETN3'],
 ['KD74'],
 ['KG12'],
 ['KH53'],
 ['KD02'],
 ['GJ76'],
 ['PHM'],
 ['BT27'],
 ['FQ15'],
 ['T499'],
 ['PFE'],
 ['KB21'],
 ['DO80'],
 ['ASC3'],
 ['LA89'],
 ['CM 5'],
 ['JS94'],
 ['Z984'],
 ['GRK'],
 ['NEM'],
 ['LG20'],
 ['AL53'],
 ['AYG'],
 ['W656'],
 ['KH53'],
 ['ASC3'],
 ['AN57'],
 ['W656'],
 ['PHM'],
 ['DDE5'],
 ['CM 5'],
 ['X284'],
 ['KT34'],
 ['BW 7'],
 ['AYG'],
 ['CM 2'],
 ['PHM'],
 ['KB21'],
 ['II78'],
 ['GT G'],
 ['KF53'],
 ['AYG'],
 ['KJ64'],
 ['CM 6'],
 ['FK17'],
 ['DVO'],
 ['FAR4'],
 ['PH M'],
 ['BOD'],
 ['LA77'],
 ['SCP'],
 ['JP68'],
 ['JR93'],
 ['HA81'],
 ['BU56'],
 ['KA75'],
 ['IZ97'],
 ['PFE'],
 ['N439'],
 ['NEM'],
 ['ASC3'],
 ['EK41'],
 ['BW 6'],
 ['JR67'],
 ['CDB'],
 ['CM 5'],
 ['Q672'],
 ['HOS'],
 ['AW76'],
 ['EU99'],
 ['BW 6'],
 ['JER'],
 ['AL53'],
 ['KH53'],
 ['CUM4'],
 ['GRR2'],
 ['AN57'],
 ['CM 6'],
 ['BW 6'],
 ['CM 6'],
 ['KU17'],
 ['AD98'],
 ['Z984'],
 ['GRK'],
 ['BW 7'],
 ['EPC'],
 ['AY06'],
 ['DN A'],
 ['DUG'],
 ['AKR'],
 ['Z984'],
 ['L657'],
 ['AW76'],
 ['JT44'],
 ['HF89'],
 ['BW 1'],
 ['KD60'],
 ['AB57'],
 ['KB21'],
 ['SCP'],
 ['KA75'],
 ['AD98'],
 ['JW06'],
 ['BF20'],
 ['JT22'],
 ['KM10'],
 ['KT06'],
 ['CM 6'],
 ['AKR1'],
 ['CM 6'],
 ['AYG'],
 ['IQ79'],
 ['BC93'],
 ['H884'],
 ['ASC3'],
 ['JE68'],
 ['AKR1'],
 ['CJ44'],
 ['R609'],
 ['CM 5'],
 ['KA75'],
 ['KD84'],
 ['T155'],
 ['PHM'],
 ['AL53'],
 ['JW87'],
 ['R609'],
 ['AYG'],
 ['LF53'],
 ['LF49'],
 ['CM 2'],
 ['DDE1'],
 ['ETN3'],
 ['CBT'],
 ['KV79'],
 ['RGT1'],
 ['CBT'],
 ['CM 5'],
 ['JT27'],
 ['PPU1'],
 ['KD84'],
 ['BT27'],
 ['KF28'],
 ['KF28'],
 ['PH M'],
 ['IMM'],
 ['LF53'],
 ['LA67'],
 ['KP72'],
 ['BU56'],
 ['DVO'],
 ['PHM'],
 ['LH03'],
 ['FOU'],
 ['GRK'],
 ['CM 5'],
 ['W656'],
 ['CM 5'],
 ['HUN'],
 ['TL 2'],
 ['TBS'],
 ['KB21'],
 ['LE23'],
 ['BW 1'],
 ['CM 6'],
 ['FC35'],
 ['BTE'],
 ['SCP'],
 ['A587'],
 ['MZT1'],
 ['LF80'],
 ['TL 2'],
 ['ER53'],
 ['KU17'],
 ['ET44'],
 ['ETN3'],
 ['HDR1'],
 ['ET44'],
 ['Z984'],
 ['CM 5'],
 ['CDB'],
 ['LF53'],
 ['CBT'],
 ['JER'],
 ['JT10'],
 ['RGT'],
 ['KYS4'],
 ['KF28'],
 ['BW 6'],
 ['DDE5'],
 ['PHM'],
 ['FC35'],
 ['ER53'],
 ['H725'],
 ['KF28'],
 ['RGT'],
 ['Z984'],
 ['KY80'],
 ['AL53'],
 ['JP68'],
 ['L657'],
 ['RGT1'],
 ['MGM'],
 ['CM 6'],
 ['AB55'],
 ['CBT'],
 ['ETN9'],
 ['DVO'],
 ['ET44'],
 ['KD64'],
 ['KV68'],
 ['KB21'],
 ['SCP'],
 ['DDE5'],
 ['KU73'],
 ['FI95'],
 ['CM 6'],
 ['KA66'],
 ['JR93'],
 ['KF28'],
 ['AB57'],
 ['PMY'],
 ['JT29'],
 ['KD02'],
 ['DL37'],
 ['GU12'],
 ['KH53'],
 ['JR97'],
 ['TBS'],
 ['CBT'],
 ['PHM'],
 ['DANG'],
 ['MFG'],
 ['I263'],
 ['EU99'],
 ['KB21'],
 ['KP33'],
 ['A846'],
 ['DL37'],
 ['JR93'],
 ['NEM'],
 ['BY83'],
 ['CM 6'],
 ['FS22'],
 ['A446'],
 ['SCP'],
 ['AYG'],
 ['Z984'],
 ['WHT'],
 ['LK23'],
 ['CM 5'],
 ['NEM'],
 ['PFE'],
 ['KS01'],
 ['SCP'],
 ['JU93'],
 ['DG54'],
 ['KB21'],
 ['KF28'],
 ['T785'],
 ['NEM'],
 ['RGT'],
 ['ET44'],
 ['KF53'],
 ['KD84'],
 ['KF79'],
 ['CJ49'],
 ['A867'],
 ['ASC3'],
 ['LG20'],
 ['KJ92'],
 ['FAR4'],
 ['HF89'],
 ['L657'],
 ['L657'],
 ['CM 6'],
 ['ER53'],
 ['BW 7'],
 ['Z157'],
 ['R609'],
 ['JO15'],
 ['Z975'],
 ['Z975'],
 ['AL53'],
 ['RGT1'],
 ['KV9P'],
 ['JS67'],
 ['GRK'],
 ['HF89'],
 ['AL53'],
 ['FK17'],
 ['Z984'],
 ['CJ25'],
 ['Z984'],
 ['T681'],
 ['JER'],
 ['Z984'],
 ['Z157'],
 ['AY55'],
 ['CM 5'],
 ['BW 6'],
 ['KF28'],
 ['EQ87'],
 ['HF89'],
 ['TL 2'],
 ['KA75'],
 ['LF53'],
 ['CM 6'],
 ['MZT1'],
 ['Z984'],
 ['CM 6'],
 ['PH T'],
 ['DANT'],
 ['LE23'],
 ['CX83'],
 ['T481'],
 ['JN73'],
 ['RGT1'],
 ['CBT'],
 ['CDB'],
 ['MZT1'],
 ['ET44'],
 ['DN 4'],
 ['BW 6'],
 ['CM 6'],
 ['LB02'],
 ['AKR1'],
 ['AL53'],
 ['PH M'],
 ['W656'],
 ['CJ25'],
 ['CON'],
 ['W656'],
 ['KB21'],
 ['CBT'],
 ['ET44'],
 ['HDR1'],
 ['DG54'],
 ['CJ49'],
 ['KD74'],
 ['CM 6'],
 ['HE72'],
 ['KT06'],
 ['KF28'],
 ['KB21'],
 ['DDE5'],
 ['Z975'],
 ['PH M'],
 ['EK79'],
 ['DG54'],
 ['RGT'],
 ['CM 6'],
 ['KD74'],
 ['CBT'],
 ['KG12'],
 ['DU57'],
 ['AY06'],
 ['SLP'],
 ['ZFA'],
 ['BO83'],
 ['PXU'],
 ['FK17'],
 ['KP32'],
 ['JT39'],
 ['KF53'],
 ['AL53'],
 ['JS84'],
 ['BW 6'],
 ['KU73'],
 ['FOU'],
 ['GUN1'],
 ['ASC3'],
 ['BF64'],
 ['Z984'],
 ['AYG'],
 ['V987'],
 ['AK66'],
 ['KB21'],
 ['SRQ'],
 ['T481'],
 ['LA89'],
 ['CM 6'],
 ['TL 2'],
 ['ADG'],
 ['BW 6'],
 ['T499'],
 ['LF80'],
 ['AYG'],
 ['JK65'],
 ['BW 6'],
 ['T681'],
 ['JT29'],
 ['PFE'],
 ['PFE'],
 ['HF89'],
 ['JX89'],
 ['KD84'],
 ['LG20'],
 ['T785'],
 ['KQ71'],
 ['LE23'],
 ['BF64'],
 ['BW 1'],
 ['KH53'],
 ['Z975'],
 ['GT G'],
 ['HX26'],
 ['CM 6'],
 ['Z984'],
 ['KT06'],
 ['LA89'],
 ['KN40'],
 ['Z984'],
 ['AL53'],
 ['II79'],
 ['DDE5'],
 ['AKR'],
 ['RGT1'],
 ['PH M'],
 ['LA67'],
 ['CHS'],
 ['GT G'],
 ['BLR'],
 ['Z984'],
 ['ET44'],
 ['TBS'],
 ['HF89'],
 ['T155'],
 ['CM 6'],
 ['JT22'],
 ['JER'],
 ['DDE5'],
 ['JR67'],
 ['LG20'],
 ['AKR'],
 ['GRK'],
 ['KH53'],
 ['IM46'],
 ['A587'],
 ['CM 5'],
 ['Z975'],
 ['BT27'],
 ['KQ35'],
 ['CM 4'],
 ['JE91'],
 ['JZ14'],
 ['CM 6'],
 ['ANJ'],
 ['SCP'],
 ['C291'],
 ['CM 5'],
 ['KU19'],
 ['KB21'],
 ['KV68'],
 ['LG13'],
 ['MYP'],
 ['DDE5'],
 ['PPU1'],
 ['Z538'],
 ['GT G'],
 ['AKR'],
 ['PH M'],
 ['CM 6'],
 ['LG20'],
 ['KH53'],
 ['TBS'],
 ['AB57'],
 ['GT G'],
 ['T481'],
 ['ASC3'],
 ['DN23'],
 ['KF28'],
 ['RGT1'],
 ['HN'],
 ['CJ06'],
 ['Z984'],
 ['CM 2'],
 ['BW 1'],
 ['AL53'],
 ['CM 5'],
 ['KA66'],
 ['A587'],
 ['SPR'],
 ['RGT'],
 ['IMQ1'],
 ['FXF'],
 ['CHS'],
 ['PH T'],
 ['BF64'],
 ['GO39'],
 ['CBT'],
 ['KH53'],
 ['CBT'],
 ['CM 6'],
 ['L657'],
 ['RGT'],
 ['AYG'],
 ['A867'],
 ['JR93'],
 ['KT94'],
 ['CM 5'],
 ['CHS'],
 ['KA75'],
 ['KH53'],
 ['LF53'],
 ['TBS'],
 ['DR'],
 ['RGT1'],
 ['CX83'],
 ['GJ76'],
 ['KH73'],
 ['ZFA'],
 ['RGT1'],
 ['Z984'],
 ['AL53'],
 ['SCP'],
 ...]

In [49]:
X_copy.head(100)

,year,month,day,day_of_year,week,week_of_year,day_of_week,weekday,quarter,id,...,spec_cng_unknwn,dropin,past_dues,cur_intrn_days,mdl_bld_rate,prev_mnth_record_count,prev_mnth_percent,avg_six_mnth_cnt,shrt_ppm,qa_ppm
0,2017,11,6,310,45,45,0,0,4,1,...,4,0.3330,0,2,196,1,-75.0000,10.8333,0,0
1,2018,4,24,114,17,17,1,1,2,2,...,5,0.0000,0,7,107,9,800.0000,4.3333,0,0
2,2018,5,7,127,19,19,0,0,2,3,...,2,0.0000,0,13,178,3,50.0000,2.0000,0,0
3,2017,10,18,291,42,42,2,2,4,4,...,2,0.0000,0,12,166,5,0.0000,2.5000,0,0
4,2017,12,6,340,49,49,2,2,4,5,...,3,0.0000,0,2,108,77,6.9400,73.0000,15996,118
5,2018,2,19,50,8,8,0,0,1,6,...,2,0.0000,0,12,160,17,-58.5300,47.8333,0,261
6,2018,4,16,106,16,16,0,0,2,7,...,10,0.0000,1,11,27,56,-27.2700,58.1666,2919,547
7,2017,6,21,172,25,25,2,2,2,8,...,11,0.2500,1,11,1,45,36.3600,54.6666,7481,274
8,2017,11,13,317,46,46,0,0,4,9,...,0,0.0000,0,7,110,4,100.0000,3.3333,335,0
9,2017,5,24,144,21,21,2,2,2,10,...,1,0.0000,0,15,24,0,0.0000,0.0000,0,0
10,2017,10,17,290,42,42,1,1,4,11,...,18,0.0000,0,6,81,53,82.7500,47.5000,1408,654
11,2018,3,23,82,12,12,4,4,1,12,...,3,0.3330,0,5,81,27,0.0000,30.8333,17404,4109
12,2018,5,2,122,18,18,2,2,2,13,...,5,0.0000,0,11,30,20,81.8100,13.3333,371,124
13,2017,7,25,206,30,30,1,1,3,14,...,0,0.0000,0,6,209,9,-78.0400,13.5000,983,0
14,2018,3,22,81,12,12,3,3,1,15,...,5,0.0000,0,7,81,31,-54.4100,41.6666,0,0
15,2017,12,1,335,48,48,4,4,4,16,...,34,0.5000,0,1,114,19,90.0000,15.6666,510,0
16,2017,8,2,214,31,31,2,2,3,17,...,3,0.0000,0,2,114,11,-31.2500,11.5000,678,0
17,2018,1,19,19,3,3,4,4,1,18,...,0,0.0000,0,6,114,7,-30.0000,10.1666,0,0
18,2018,5,7,127,19,19,0,0,2,19,...,6,0.0000,1,0,178,9,350.0000,3.6666,0,85
19,2018,1,11,11,2,2,3,3,1,20,...,0,0.0000,0,8,105,9,-40.0000,21.6666,106,0
20,2017,11,6,310,45,45,0,0,4,21,...,20,0.0000,0,7,196,1,-50.0000,0.8333,0,0
21,2017,10,17,290,42,42,1,1,4,22,...,22,0.2850,0,5,1,8,100.0000,3.1666,308,0
22,2017,8,31,243,35,35,3,3,3,23,...,16,0.0000,0,12,4,3,-25.0000,1.5000,0,0
23,2017,8,4,216,31,31,4,4,3,24,...,10,0.0000,0,14,101,7,-12.5000,5.5000,0,0
24,2018,2,22,53,8,8,3,3,1,25,...,1,0.0000,0,2,114,30,7.1400,21.3333,7591,0
25,2017,11,9,313,45,45,3,3,4,26,...,0,0.0000,0,1,154,9,125.0000,4.3333,0,145
26,2017,8,1,213,31,31,1,1,3,27,...,2,0.0000,0,7,214,74,-27.4500,58.1666,61,0
27,2017,6,9,160,23,23,4,4,2,28,...,4,0.0000,1,5,185,1,-83.3300,4.8333,0,0
28,2017,12,12,346,50,50,1,1,4,29,...,9,0.0000,0,7,78,16,-48.3800,18.1666,564,564
29,2017,11,16,320,46,46,3,3,4,30,...,2,0.0000,0,10,167,6,20.0000,9.8333,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2017,6,6,157,23,23,1,1,2,71,...,22,0.0000,1,1,205,1,0.0000,0.6666,16,0
71,2017,11,8,312,45,45,2,2,4,72,...,8,0.0000,1,2,154,337,3.6900,272.1666,6541,25530
72,2018,4,16,106,16,16,0,0,2,73,...,5,0.0000,0,11,27,0,0.0000,0.0000,0,0
73,2017,11,9,313,45,45,3,3,4,74,...,0,0.0000,0,5,81,13,-40.9000,13.0000,190,1142
74,2017,6,26,177,26,26,0,0,2,75,...,3,0.0000,0,12,21,4,-42.8500,6.1666,1200,400
75,2017,10,24,297,43,43,1,1,4,76,...,7,0.0000,1,2,218,2,-66.6600,2.5000,308,0
76,2017,7,17,198,29,29,0,0,3,77,...,4,0.0000,0,6,42,127,130.9000,97.5000,9047,6003
77,2017,7,13,194,28,28,3,3,3,78,...,6,0.0000,0,12,160,0,0.0000,0.0000,0,0
78,2018,1,2,2,1,1,1,1,1,79,...,3,0.0000,0,15,25,5,150.0000,3.3333,780,0
79,2017,7,6,187,27,27,3,3,3,80,...,3,0.0000,1,6,114,34,70.0000,28.5000,6217,429
80,2018,5,14,134,20,20,0,0,2,81,...,18,0.0000,1,11,178,17,325.0000,12.5000,1649,92
81,2018,1,22,22,4,4,0,0,1,82,...,14,0.2000,0,5,81,41,-43.8300,44.5000,67779,2086
82,2017,9,13,256,37,37,2,2,3,83,...,21,0.0000,1,5,218,6,50.0000,8.3333,22,3805
83,2017,8,16,228,33,33,2,2,3,84,...,13,0.0000,0,8,167,223,42.0300,112.1666,258,0
84,2017,7,21,202,29,29,4,4,3,85,...,0,0.0000,1,2,162,3,-50.0000,2.6666,0,0
85,2017,5,17,137,20,20,2,2,2,86,...,7,0.0000,0,3,87,25,78.5700,25.5000,0,4802
86,2017,6,19,170,25,25,0,0,2,87,...,7,0.0000,0,8,1,14,-41.6600,22.0000,2548,0
87,2017,7,20,201,29,29,3,3,3,88,...,1,0.0000,0,6,81,27,0.0000,28.8333,87156,3058
88,2017,7,31,212,31,31,0,0,3,89,...,13,0.0000,1,0,81,197,159.2100,115.8333,10780,38572
89,2017,6,2,153,22,22,4,4,2,90,...,5,0.1000,0,6,162,75,-35.3400,79.6666,0,105
90,2017,8,22,234,34,34,1,1,3,91,...,10,0.0000,1,1,214,560,52.5800,361.6666,191,173
91,2017,9,18,261,38,38,0,0,3,92,...,11,0.0000,0,7,1,3,-25.0000,2.3333,0,0
92,2018,5,31,151,22,22,3,3,2,93,...,8,0.0000,0,15,178,0,0.0000,0.0000,0,0
93,2017,10,17,290,42,42,1,1,4,94,...,1,0.0000,0,6,218,91,-15.7400,51.0000,29,88
94,2017,5,30,150,22,22,1,1,2,95,...,24,0.0000,0,6,90,31,-26.1900,28.6666,2650,0
95,2018,3,1,60,9,9,3,3,1,96,...,0,0.0000,0,6,26,22,29.4100,23.8333,5517,9655
96,2018,5,9,129,19,19,2,2,2,97,...,1,0.0000,0,2,178,268,-4.6200,280.8333,270,0
97,2017,8,24,236,34,34,3,3,3,98,...,18,0.0000,0,1,211,93,-27.9000,94.0000,3365,81486
98,2017,10,2,275,40,40,0,0,4,99,...,1,0.0000,0,6,108,11,175.0000,4.6666,303,0
99,2018,4,30,120,18,18,0,0,2,100,...,0,0.0000,0,0,193,8,14.2800,6.6666,0,0

In [69]:
import numpy as np

# find the non-numeric feature columns
X_nonnum = X_copy.select_dtypes(exclude=np.number)

In [54]:
# print(X_nonnum)

In [70]:
X_nnumcols = list(X_nonnum)
print(X_nnumcols)

['item_no', 'loc', 'sr_flag', 'crfa_c', 'crfa_r', 'crfa_f', 'crfa_a', 'outproc_flag', 'score_edi_instability_avg', 'order_edi_instability_positive_only_avg', 'fulfillment_rate_2wkavg', 'dropin', 'prev_mnth_percent', 'avg_six_mnth_cnt']

In [57]:
X_copy = X_copy.drop('cal_date', axis='columns')

In [60]:
X_copy['vndr_id'].describe()

count     1000000
unique        782
top          Z984
freq        31875
Name: vndr_id, dtype: object

In [61]:
# replace vendor id with an equivalent hash function
X_copy['vndr_id'] = X_copy['vndr_id'].apply(lambda x: hash(x))

In [62]:
X_copy['vndr_id'].describe()

count    1.000000e+06
mean     1.471037e+17
std      5.262359e+18
min     -9.203022e+18
25%     -4.601823e+18
50%      3.501369e+17
75%      4.633353e+18
max      9.197899e+18
Name: vndr_id, dtype: float64

In [63]:
X_copy['vndr_id'].head()

0    4966198687704392998
1    4966198687704392998
2   -1779074075488785057
3    4722386301364861623
4    7683525417489383370
Name: vndr_id, dtype: int64

In [64]:
df['vndr_id'].head()

0    AD98
1    AD98
2    DN 4
3    Z582
4    T606
Name: vndr_id, dtype: object

In [65]:
X_copy['item_no'].describe()

count          1000000
unique           26223
top       16-14031-000
freq               431
Name: item_no, dtype: object

In [66]:
X_copy['item_no'].head()

0    A22-72740-000
1    A22-69882-000
2     DN EPG150230
3     04-31885-200
4     12-20828-000
Name: item_no, dtype: object

In [67]:
X_lowVar.head(5)

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,2017-11-06,AD98,A22-72740-000,013,N,S,009,1,2,...,4,0.3330,0,2,196,1,-75.0000,10.8333,0,0
1,2,2018-04-24,AD98,A22-69882-000,034,N,S,009,1,2,...,5,0.0000,0,7,107,9,800.0000,4.3333,0,0
2,3,2018-05-07,DN 4,DN EPG150230,065,N,S,009,1,2,...,2,0.0000,0,13,178,3,50.0000,2.0000,0,0
3,4,2017-10-18,Z582,04-31885-200,065,N,S,009,1,2,...,2,0.0000,0,12,166,5,0.0000,2.5000,0,0
4,5,2017-12-06,T606,12-20828-000,034,Y,S,009,1,2,...,3,0.0000,0,2,108,77,6.9400,73.0000,15996,118

In [71]:
X_copy[X_nnumcols].head()

,item_no,loc,sr_flag,crfa_c,crfa_r,crfa_f,crfa_a,outproc_flag,score_edi_instability_avg,order_edi_instability_positive_only_avg,fulfillment_rate_2wkavg,dropin,prev_mnth_percent,avg_six_mnth_cnt
0,A22-72740-000,013,N,S,009,1,2,N,-0.99955476,0.99599287,(null),0.3330,-75.0000,10.8333
1,A22-69882-000,034,N,S,009,1,2,N,-0.04341051,0.91495993,(null),0.0000,800.0000,4.3333
2,DN EPG150230,065,N,S,009,1,2,N,0.95547640,0.95547640,1,0.0000,50.0000,2.0000
3,04-31885-200,065,N,S,009,1,2,N,-0.93455031,1.00000000,(null),0.0000,0.0000,2.5000
4,12-20828-000,034,Y,S,009,1,2,N,-0.98441674,1.00000000,0.666,0.0000,6.9400,73.0000

In [72]:
X_copy['loc'].describe()

count     1000000
unique         10
top           065
freq       192866
Name: loc, dtype: object

In [73]:
# convert location to numeric value
X_copy['loc'] = X_copy['loc'].apply(lambda x: int(x))

In [74]:
X_copy['loc'].describe()

count    1000000.000000
mean          24.337088
std           23.493376
min            1.000000
25%            4.000000
50%           17.000000
75%           34.000000
max           65.000000
Name: loc, dtype: float64

In [75]:
X_copy['loc'].head()

0    13
1    34
2    65
3    65
4    34
Name: loc, dtype: int64

In [76]:
# find the non-numeric feature columns
X_nonnum = X_copy.select_dtypes(exclude=np.number)
X_nnumcols = list(X_nonnum)
print(X_nnumcols)

['item_no', 'sr_flag', 'crfa_c', 'crfa_r', 'crfa_f', 'crfa_a', 'outproc_flag', 'score_edi_instability_avg', 'order_edi_instability_positive_only_avg', 'fulfillment_rate_2wkavg', 'dropin', 'prev_mnth_percent', 'avg_six_mnth_cnt']

In [77]:
X_copy = X_copy.drop('sr_flag', axis='columns')

In [78]:
# find the non-numeric feature columns
X_nonnum = X_copy.select_dtypes(exclude=np.number)
X_nnumcols = list(X_nonnum)
print(X_nnumcols)

['item_no', 'crfa_c', 'crfa_r', 'crfa_f', 'crfa_a', 'outproc_flag', 'score_edi_instability_avg', 'order_edi_instability_positive_only_avg', 'fulfillment_rate_2wkavg', 'dropin', 'prev_mnth_percent', 'avg_six_mnth_cnt']

In [91]:
X_copy['crfa_c'].head()

0    83
1    83
2    83
3    83
4    83
Name: crfa_c, dtype: int64

In [92]:
X_copy['crfa_c'].describe()

count    1000000.000000
mean          82.862285
std            2.347075
min           32.000000
25%           83.000000
50%           83.000000
75%           83.000000
max           83.000000
Name: crfa_c, dtype: float64

In [85]:
X_copy['crfa_c'].unique()

array(['S', 'K', 'B', ' ', '2', '3', 'D', 'A'], dtype=object)

In [84]:
X_copy['crfa_c'].replace(r'^\s+$', np.nan, regex=True)

0         S
1         S
2         S
3         S
4         S
5         S
6         S
7         S
8         S
9         S
10        S
11        S
12        S
13        S
14        S
15        S
16        S
17        S
18        S
19        S
20        S
21        S
22        S
23        S
24        S
25        S
26        S
27        S
28        S
29        S
         ..
999970    S
999971    K
999972    S
999973    S
999974    S
999975    S
999976    S
999977    S
999978    S
999979    S
999980    S
999981    S
999982    S
999983    S
999984    S
999985    S
999986    S
999987    S
999988    S
999989    S
999990    S
999991    S
999992    S
999993    S
999994    S
999995    S
999996    S
999997    S
999998    S
999999    S
Name: crfa_c, Length: 1000000, dtype: object

In [89]:
# convert crfa_c to ASCII equivalents
X_copy['crfa_c'] = X_copy['crfa_c'].apply(lambda x: ord(x))

In [90]:
# find the non-numeric feature columns
X_nonnum = X_copy.select_dtypes(exclude=np.number)
X_nnumcols = list(X_nonnum)
print(X_nnumcols)

['item_no', 'crfa_r', 'crfa_f', 'crfa_a', 'outproc_flag', 'score_edi_instability_avg', 'order_edi_instability_positive_only_avg', 'fulfillment_rate_2wkavg', 'dropin', 'prev_mnth_percent', 'avg_six_mnth_cnt']

In [100]:
X_copy['crfa_r'].unique()

array([ 9, 65, 34, 13,  1, 17,  4, 21, 58, 18,  6, 50])

In [94]:
# convert crfa_r to numeric value
X_copy['crfa_r'] = X_copy['crfa_r'].apply(lambda x: int(x))

In [96]:
# find the non-numeric feature columns
X_nonnum = X_copy.select_dtypes(exclude=np.number)
X_nnumcols = list(X_nonnum)
print(X_nnumcols)

['item_no', 'crfa_f', 'crfa_a', 'outproc_flag', 'score_edi_instability_avg', 'order_edi_instability_positive_only_avg', 'fulfillment_rate_2wkavg', 'dropin', 'prev_mnth_percent', 'avg_six_mnth_cnt']

In [102]:
X_copy['crfa_f'].unique()

array([1, 4, 2, 8, 6, 0])

In [101]:
# convert crfa_f to numeric value
X_copy['crfa_f'] = X_copy['crfa_f'].apply(lambda x: int(x))

In [103]:
# find the non-numeric feature columns
X_nonnum = X_copy.select_dtypes(exclude=np.number)
X_nnumcols = list(X_nonnum)
print(X_nnumcols)

['item_no', 'crfa_a', 'outproc_flag', 'score_edi_instability_avg', 'order_edi_instability_positive_only_avg', 'fulfillment_rate_2wkavg', 'dropin', 'prev_mnth_percent', 'avg_six_mnth_cnt']

In [106]:
X_copy['crfa_a'].unique()

array([2, 4, 5, 3, 1])

In [105]:
# convert crfa_a to numeric value
X_copy['crfa_a'] = X_copy['crfa_a'].apply(lambda x: int(x))

In [107]:
# find the non-numeric feature columns
X_nonnum = X_copy.select_dtypes(exclude=np.number)
X_nnumcols = list(X_nonnum)
print(X_nnumcols)

['item_no', 'outproc_flag', 'score_edi_instability_avg', 'order_edi_instability_positive_only_avg', 'fulfillment_rate_2wkavg', 'dropin', 'prev_mnth_percent', 'avg_six_mnth_cnt']

In [110]:
X_copy['outproc_flag'].unique()

array([0])

In [109]:
# convert the boolean outproc_flag to numeric value Y/N == 1/0
X_copy['outproc_flag'] = X_copy['outproc_flag'].apply(lambda x: np.where(x=='N',0,1))

In [118]:
# find the non-numeric feature columns
X_nonnum = X_copy.select_dtypes(exclude=np.number)
X_nnumcols = list(X_nonnum)
print(X_nnumcols)

['year', 'month', 'day', 'day_of_year', 'week', 'week_of_year', 'day_of_week', 'weekday', 'quarter', 'id', 'vndr_id', 'item_no', 'loc', 'crfa_c', 'crfa_r', 'crfa_f', 'crfa_a', 'eoq', 'pkg_qty', 'outproc_flag', 'score_edi_instability_avg', 'order_edi_instability_positive_only_avg', 'fulfillment_rate_2wkavg', 'spec_cng_elem', 'spec_cng_fpe', 'spec_cng_mrp', 'spec_cng_oh_adj', 'spec_cng_pcts', 'spec_cng_peg', 'spec_cng_por_asn', 'spec_cng_potr', 'spec_cng_sched', 'spec_cng_unknwn', 'dropin', 'past_dues', 'cur_intrn_days', 'mdl_bld_rate', 'prev_mnth_record_count', 'prev_mnth_percent', 'avg_six_mnth_cnt', 'shrt_ppm', 'qa_ppm']

In [113]:
X_copy['dropin'].unique()

array([Decimal('0.3330'), Decimal('0.0000'), Decimal('0.2500'),
       Decimal('0.5000'), Decimal('0.2850'), Decimal('0.4000'),
       Decimal('0.7500'), Decimal('0.0900'), Decimal('0.2000'),
       Decimal('0.1250'), Decimal('0.1000'), Decimal('0.1530'),
       Decimal('1.0000'), Decimal('0.1660'), Decimal('0.1420'),
       Decimal('0.8000'), Decimal('0.6000'), Decimal('0.0830'),
       Decimal('0.1110'), Decimal('0.2220'), Decimal('0.1810'),
       Decimal('0.2720'), Decimal('0.3750'), Decimal('0.6660'),
       Decimal('0.3630'), Decimal('0.8180'), Decimal('0.4280'),
       Decimal('0.3000'), Decimal('0.0760'), Decimal('0.2300'),
       Decimal('0.4160'), Decimal('0.7140'), Decimal('0.4540'),
       Decimal('0.3070'), Decimal('0.6360'), Decimal('0.6250'),
       Decimal('0.4440'), Decimal('0.7000'), Decimal('0.8330'),
       Decimal('0.6150'), Decimal('0.5710'), Decimal('0.4610'),
       Decimal('0.3570'), Decimal('0.1870'), Decimal('0.5550'),
       Decimal('0.7270'), Decimal('0.5830'), Decimal('0.3120'),
       Decimal('0.8750'), Decimal('0.4370'), Decimal('0.2630'),
       Decimal('0.3840'), Decimal('0.5450'), Decimal('0.4110'),
       Decimal('0.0620'), Decimal('0.8570'), Decimal('0.3680'),
       Decimal('0.6420'), Decimal('0.2140'), Decimal('0.6310'),
       Decimal('0.4660'), Decimal('0.6870'), Decimal('0.3520'),
       Decimal('0.7850'), Decimal('0.0710'), Decimal('0.9000'),
       Decimal('0.9160'), Decimal('0.5380'), Decimal('0.6470'),
       Decimal('0.4760'), Decimal('0.7770'), Decimal('0.9330'),
       Decimal('0.6920'), Decimal('0.2380'), Decimal('0.9090'),
       Decimal('0.1050'), Decimal('0.4730'), Decimal('0.5290'),
       Decimal('0.7690'), Decimal('0.1760'), Decimal('0.2660'),
       Decimal('0.3880'), Decimal('0.2770'), Decimal('0.1500'),
       Decimal('0.5880'), Decimal('0.5330'), Decimal('0.0660'),
       Decimal('0.2940'), Decimal('0.4210'), Decimal('0.4090'),
       Decimal('0.5500'), Decimal('0.3500'), Decimal('0.4500'),
       Decimal('0.0580'), Decimal('0.0550'), Decimal('0.3800'),
       Decimal('0.9230'), Decimal('0.1570'), Decimal('0.3150'),
       Decimal('0.0520'), Decimal('0.5260'), Decimal('0.3180'),
       Decimal('0.5620'), Decimal('0.8880'), Decimal('0.8090'),
       Decimal('0.2350'), Decimal('0.1170'), Decimal('0.6110'),
       Decimal('0.5230'), Decimal('0.4700'), Decimal('0.1330'),
       Decimal('0.2100'), Decimal('0.7330'), Decimal('0.8460')],
      dtype=object)

In [114]:
X_copy[X_nnumcols].head()

,item_no,score_edi_instability_avg,order_edi_instability_positive_only_avg,fulfillment_rate_2wkavg,dropin,prev_mnth_percent,avg_six_mnth_cnt
0,A22-72740-000,-0.99955476,0.99599287,(null),0.3330,-75.0000,10.8333
1,A22-69882-000,-0.04341051,0.91495993,(null),0.0000,800.0000,4.3333
2,DN EPG150230,0.95547640,0.95547640,1,0.0000,50.0000,2.0000
3,04-31885-200,-0.93455031,1.00000000,(null),0.0000,0.0000,2.5000
4,12-20828-000,-0.98441674,1.00000000,0.666,0.0000,6.9400,73.0000

In [119]:
X_copy['fulfillment_rate_2wkavg'].replace('\(null\)', 0.0, regex=True)

0             0
1             0
2             1
3             0
4         0.666
5             1
6             0
7             0
8           0.5
9             0
10            0
11            0
12          0.5
13            0
14            0
15        0.333
16            0
17            0
18        0.155
19        0.254
20            0
21            0
22            0
23            0
24        0.333
25            0
26            0
27            0
28        0.875
29        0.377
          ...
999970        0
999971     0.75
999972        0
999973        1
999974        0
999975        0
999976        0
999977        0
999978        0
999979        0
999980    0.809
999981        0
999982        1
999983        0
999984        0
999985        0
999986        0
999987        0
999988        0
999989    0.452
999990    0.888
999991    0.552
999992    0.228
999993        0
999994        0
999995        0
999996        0
999997        1
999998      0.1
999999        0
Name: fulfillment_rate_2wkavg, Length: 1000000, dtype: object

In [120]:
X_copy['fulfillment_rate_2wkavg'].unique()

array(['(null)', '1', '0.666', ..., '0.779', '0.856', '0'], dtype=object)

In [121]:
X_copy['fulfillment_rate_2wkavg'] = X_copy['fulfillment_rate_2wkavg'].replace('\(null\)', 0.0, regex=True)

In [122]:
X_copy['fulfillment_rate_2wkavg'].unique()

array([0.0, '1', '0.666', ..., '0.779', '0.856', '0'], dtype=object)

In [142]:
# find the non-numeric feature columns
X_nonnum = X_copy.select_dtypes(exclude=np.number)
X_nnumcols = list(X_nonnum)
print(X_nnumcols)

['item_no']

In [124]:
# convert crfa_f to numeric value
X_copy['score_edi_instability_avg'] = X_copy['score_edi_instability_avg'].apply(lambda x: float(x))

In [139]:
X_copy['avg_six_mnth_cnt'].unique()

array([ 10.8333,   4.3333,   2.    , ...,  95.3333, 126.3333, 278.6666])

In [138]:
# convert crfa_f to numeric value
X_copy['avg_six_mnth_cnt'] = X_copy['avg_six_mnth_cnt'].apply(lambda x: float(x))

In [141]:
X_copy.head()

,year,month,day,day_of_year,week,week_of_year,day_of_week,weekday,quarter,id,...,spec_cng_unknwn,dropin,past_dues,cur_intrn_days,mdl_bld_rate,prev_mnth_record_count,prev_mnth_percent,avg_six_mnth_cnt,shrt_ppm,qa_ppm
0,2017,11,6,310,45,45,0,0,4,1,...,4,0.333,0,2,196,1,-75.00,10.8333,0,0
1,2018,4,24,114,17,17,1,1,2,2,...,5,0.000,0,7,107,9,800.00,4.3333,0,0
2,2018,5,7,127,19,19,0,0,2,3,...,2,0.000,0,13,178,3,50.00,2.0000,0,0
3,2017,10,18,291,42,42,2,2,4,4,...,2,0.000,0,12,166,5,0.00,2.5000,0,0
4,2017,12,6,340,49,49,2,2,4,5,...,3,0.000,0,2,108,77,6.94,73.0000,15996,118

In [153]:
X_copy['item_no'].unique()

26223

In [144]:
X_copy['item_no'] = X_copy['item_no'].replace('-', '', regex=True)

In [147]:
X_copy['item_no'] = X_copy['item_no'].replace('\s+', '', regex=True)

In [149]:
X_item_no = list(X_copy['item_no'].unique())

In [152]:
len(X_item_no) -- 26223

26223

In [161]:
# find the non-numeric feature columns
X_nonnum = X_copy.select_dtypes(exclude=np.number)
X_nnumcols = list(X_nonnum)
print(X_nnumcols)

[]

In [155]:
X_copy['item_no'].unique()

array(['A2272740000', 'A2269882000', 'DNEPG150230', ..., 'W1700011126',
       'C2700039256', 'W1800811046'], dtype=object)

In [156]:
# replace vendor id with an equivalent hash function
X_copy['item_no'] = X_copy['item_no'].apply(lambda x: hash(x))

In [158]:
len(X_copy['item_no'].unique())

26223

In [160]:
X_copy.head()

,year,month,day,day_of_year,week,week_of_year,day_of_week,weekday,quarter,id,...,spec_cng_unknwn,dropin,past_dues,cur_intrn_days,mdl_bld_rate,prev_mnth_record_count,prev_mnth_percent,avg_six_mnth_cnt,shrt_ppm,qa_ppm
0,2017,11,6,310,45,45,0,0,4,1,...,4,0.333,0,2,196,1,-75.00,10.8333,0,0
1,2018,4,24,114,17,17,1,1,2,2,...,5,0.000,0,7,107,9,800.00,4.3333,0,0
2,2018,5,7,127,19,19,0,0,2,3,...,2,0.000,0,13,178,3,50.00,2.0000,0,0
3,2017,10,18,291,42,42,2,2,4,4,...,2,0.000,0,12,166,5,0.00,2.5000,0,0
4,2017,12,6,340,49,49,2,2,4,5,...,3,0.000,0,2,108,77,6.94,73.0000,15996,118

In [163]:
X_copy.shape

(1000000, 42)

In [ ]:
# write the numeric features back to a table
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/DTML')
X_copy.to_sql('dtml_featr_num', engine, if_exists='append')